<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_app_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_app_foreground"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Pressing"
        tools:targetApi="31">

        <activity android:name="mabuntu.ecole.ecole2024.Exporter"/>
        <activity android:name="mabuntu.ecole.ecole2024.Importer"/>
        <activity android:name="mabuntu.ecole.ecole2024.Apropos"/>
        <activity android:name="mabuntu.ecole.ecole2024.MoyTotal"/>
        <activity android:name="mabuntu.ecole.ecole2024.Ecole"/>
        <activity android:name="mabuntu.ecole.ecole2024.EleveModify"/>
        <activity android:name="mabuntu.ecole.ecole2024.MenuList"/>
        <activity android:name="mabuntu.ecole.ecole2024.MatiereNew" />
        <activity android:name="mabuntu.ecole.ecole2024.MatiereList" />
        <activity android:name="mabuntu.ecole.ecole2024.EleveNew" />
        <activity android:name="mabuntu.ecole.ecole2024.EleveList" />
        <activity android:name="mabuntu.ecole.ecole2024.Note" />
        <activity android:name="mabuntu.ecole.ecole2024.Bulletin" />
        <activity android:name="mabuntu.ecole.ecole2024.Statistique" />
        <activity
            android:name="mabuntu.ecole.ecole2024.Connexion"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Pressing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>